@import "../../App";

// error

.error {
  @include display( none )
}

// wrapper

.modal {
  max-width: 1040px;
  width: 100%;
  z-index: 10000;

  &__error {

    & .wrap {
      border-radius: 3px 3px 0 0;
    }

    .error {
      @include display( block );
      border-radius: 0 0 3px 3px;
      width: 100%;
      height: 32px;
      background-color: #C84141;
      @include display( flex );
      @include justify-content( center );
      @include align-items( center );

      .wrap {
        border-radius: 10px 10px 0 0;
      }

      &__label {
        @include display( flex );
        @include justify-content( center );
        @include align-items( center );
      }

      &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        color: #FFFFFF;
        margin-left: 15px;
      }
    }
  }
}

.wrap {
  padding-top: 58px;
  padding-bottom: 78px;
  max-width: 1040px;
  width: 100%;
  height: 455px;
  background-color: #2C2F33;
  @include display( flex );
  @include justify-content( center );
  border-radius: 3px;

  &__input {
    height: 160px;
    @include display( flex );
    @include justify-content( space-between );
  }
}

.container {
  width: 637px;
}

// text

.title {
  text-align: center;
  margin-bottom: 55px;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  color: #F3F3F3;
}

.question {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #F3F3F3;
  margin-bottom: 10px;
}

.input {
  height: 100%;
  @include display( flex );
  @include flex-direction( column );
  @include justify-content( space-between );
}

// down bar

.downbar {
  margin-top: 20px;
  @include display( flex );
  @include justify-content( space-between );
}

// icon

.icon {
  @include display( grid );
  @include grid-template-columns( 21px 21px 21px );
  @include grid-column-gap( 16px );
}

.email, .vk, .telegram {
  width: 21px;
  height: 21px;
}

.vk {
  fill: #fff;
  border-radius: 3px;
}

// btn

.btn {
  @include position(relative);
  width: 164px;
  height: 46px;
  z-index: 1;
  cursor: pointer;

   & p {
     @include position( absolute );
     font-style: normal;
     font-weight: bold;
     font-size: 12px;
     line-height: 15px;
     color: #FFFFFF;
     z-index: 1;
   }
 }

.bg {
  background-color: #FECB60;
  width: 157px;
  height: 40px;
}

.svg {
  @include position( absolute );
  top: 7px;
  left: 7px;
  @include display( flex );
  @include justify-content( center );
  @include align-items( center );

  & svg {
    width: 158px;
    height: 40px;
    fill: #47AF71;
  }
}

@media screen and ( max-width: 690px ) {
  .title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 28px;
  }

  .downbar {
    @include flex-direction( column );
  }

  .wrap {
    height: 535px;
    padding-top: 28px;
    padding-bottom: 38px;
    @include display( flex );
    @include align-items( center );
    @include flex-direction( column );
    justify-content: center;
  }

  .container {
    width: 310px;
  }

  .wrap__input {
    @include flex-direction( column );
    height: 330px;
  }

  .btn {
    order: -1;
    margin-bottom: 15px;
  }

  .input {
    @include display( grid );
    @include grid-column-gap( 16px );
  }
}

@media screen and ( max-width: 360px ) {
  .question {
    font-size: 10px;
    line-height: 12px;
  }

  .container {
    width: 230px;
  }
}